@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{
    --pure: #fcf1f1;
    --gold: #E68026;
    --dark: #403d3d;
}


body {
    font-family: 'Oswald', sans-serif;
}

.top-section {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)), url(images/top-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar ul li a {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: var(--pure);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;

}

.navbar ul li:hover a {
    border-bottom: 3px solid var(--gold);
}

.top-display{
    margin-top: 10%;
    margin-left: 15%;
}

.slogan {
    color: var(--pure);
    font-size: 4rem;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: 5px;
}

.btn{
    padding: 15px 35px;
    border-radius: 50px;
    background: var(--gold);
    color: var(--pure);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 35px;
    border: 2px solid var(--gold);
    cursor: pointer;
}
.cool-btn{
    padding: 15px 35px;
    border-radius: 50px;
    background: transparent;
    color: var(--gold);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 35px;
    border: 2px solid var(--gold);
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

.btn:hover {
    background-color: darkgoldenrod;
}

.cool-btn:hover {
    background-color: var(--gold);
    color: var(--pure);
}

/* Quality Section */

.discription {
    text-align: center;
    margin-top: 50px;
}
 hr { 
    margin: 20px 40%;
    border: 0;
    border-top: 3px solid var(--gold);
}

h2 {
    font-size: 30px;
    letter-spacing: 4px;
    color: var(--dark);
}

p{
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--dark);
}

.flex-discription{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.flex-discription .card {
    width: 20%;
    border: 1px solid var(--gold);
    border-radius: 20px;
    background-color: #fdfafa;
    padding: 15px 10px;
}

.flex-discription .card i{
    font-size: 55px;
    margin-bottom: 10px;
    color: var(--gold);
}

h3 {
    color: var(--dark);
}

/* images section */

.img-section {
    margin: 100px 5px 0 5px;
}

.img-card {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--dark) ;
}


.img-card img {
    width: 25%;
    height: 20;
    border-radius: 5px;
    transition: 0.5s;     
}

.img-card img:hover {
    transform: scale(0.9);
}

/* Our App SEction */

.app-h2{
    text-align: center;
}

.app-section {
    background-color: #efe5e5 ;
    padding: 90px 0 30px 30px;
    
}

.flex-app-section{
    margin: 60px 0 50px 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.flex-app-section .app-right img{
    width: 200px;
}

.app-left p span {
    display: inline-block;
    color: var(--gold);
    border: 3px solid var(--gold);
    padding: 15px 25px;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 22px;
    font-weight: bold;
}

.app-download {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.app-download img{
    width: 170px;
    height: 50px;
    cursor: pointer;
}

/* Served Area */

.served-area h2{
    text-align: center;
    margin-top: 60px;
}

.area-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.area-section img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.area-section p i {
    color: var(--gold);
    margin-right: 10px;
}

.area-section p a {
    color: var(--gold);
}



